@media (max-width: 40em) {

    .nav-container {
        padding: 1rem;
    }


    .page-image {    
    object-position: center;
    }
  

    .mid-nav {
    display: none;
    }

    .dice {
    height: 2.5rem;
    right: 0;
    }

    .hiddenDesktop {
    display: block;
    }

    .paintings {
        height: auto;
        width: 90vw;
        
    
        border: solid 2px white;
        margin: 1rem 0 0 0;
    }

    .painting-area:after {
        content: "";
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        box-shadow: inset 10rem 5rem 5rem -5rem #202020, inset 0rem 0rem 0rem 0rem #202020; 
    
        top: 0;
        z-index: 100;
    }

    .token-gallery {
        grid-template-columns: 1fr;
    }

    .home-area {
        grid-template-columns: 1fr;
    }



}