@media (max-width: 52em) {

    .nav-item {
        font-size: 0.82rem;
        padding: 1rem .4rem 1rem .4rem;
    }

    .mid-nav {
        flex-direction: column;
    }

    .paintings {
        height: auto;
        width: 80vw;
        
    
        border: solid 2px white;
        margin: 1rem 0 0 0;
    }

    .token-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-area {
        grid-template-columns: repeat(2, 1fr) !important;
        /* color: red; */
    }

    .token-gallery-textbox {  
        width: 60%;
    }  


}